#include "resource.h"
#include "winres.h"

IDI_ICON    ICON    "icon.ico"

ID_VERSION VERSIONINFO
    FILEVERSION 1, 0, 0, 0
    PRODUCTVERSION 1, 0, 0, 0
    FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0
#endif
    FILEOS 0x40000L
    FILETYPE VFT_APP
    FILESUBTYPE 0
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "000904e4"
            BEGIN
                VALUE "CompanyName", "Gamma Cagadota"
                VALUE "FileDescription", "Closes stubborn programs on ALT-F4"
                VALUE "FileVersion", "1.0.0.0"
                VALUE "ProductVersion", "1.0.0.0"
                VALUE "LegalCopyright", "N/A"
                VALUE "ProductName", "ForceQuit"
#ifdef WIN32
                VALUE "InternalName", "ForceQuit"
                VALUE "OriginalFilename", "ForceQuit.exe"
#else
                VALUE "InternalName", "ForceQuit64"
                VALUE "OriginalFilename", "ForceQuit64.exe"
#endif
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x9, 1252
        END
    END


IDR_MENU MENU
BEGIN
    POPUP "&ForceQuit"
    BEGIN
        MENUITEM "&Launch on Startup",  ID_LAUNCHONSTARTUP
        MENUITEM "&Exit ForceQuit",     ID_EXITFORCEQUIT
    END
END
